@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&family=Fredoka+One&display=swap');

*,
::after,
::before{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	height: 200vh;
	width: 100vw;
	overflow-x: hidden;
	background-color: antiquewhite;
	#triangle-top-right{
		z-index: -5;
		width: 0;
		height: 0;
		position: absolute;
		top: 0;
		border-top: 100vh solid rgb(163, 153, 124);
		border-left: 100vw solid transparent;
	}
	#triangle-bottom-left{
		z-index: -5;
		width: 0;
		height: 0;
		position: absolute;
		top: 100vh;
		border-bottom: 100vh solid rgb(163, 153, 124);
		border-right: 100vw solid transparent;
	}
	.hamburgernav{
		position: relative;
		padding: 0 2rem;
		#links{
			z-index: -4;
			display: none;
			position: absolute;
			margin-top: 0.4rem;
		}
		a{
			float: left;
			color: antiquewhite;
			padding: 1rem;
			text-decoration: none;
			font-size: 1rem;
			font-family: 'Comfortaa', sans-serif;
		}
		a:hover{
			color: gray;
		}
		a.icon{
			display: block;
			position: absolute;
			right: 0;
			top: 0;
			font-size: 2rem;
			margin-right: 2rem;
		}
		#icon-close{
			display: none;
			position: absolute;
			right: 0;
			top: 0;
			font-size: 2rem;
			margin-right: 3rem;
			margin-top: 1rem;
		}
	}
	header{
		width: 100%;
		padding: 4rem 3rem;
		.intro{
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			align-items: flex-end;
			width: 100%;
			font-family: 'Comfortaa', sans-serif;
			color: rgb(66, 75, 77);
			h3{
				margin-top: 0.5rem;
				color: rgb(86, 98, 100);
			}
			p{
				text-align: right;
				font-size: 0.8rem;
				margin-top: 1.5rem;
				line-height: 1.2rem;
			}
		}
	}
}
