@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&family=Fredoka+One&display=swap");
*,
::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 200vh;
  width: 100vw;
  overflow-x: hidden;
  background-color: antiquewhite;
  font-family: 'Comfortaa', sans-serif;
}

body #triangle-top-right {
  z-index: -5;
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  border-top: 100vh solid #a3997c;
  border-left: 100vw solid transparent;
}

body #triangle-bottom-left {
  z-index: -5;
  width: 0;
  height: 0;
  position: absolute;
  top: 100vh;
  border-bottom: 100vh solid #a3997c;
  border-right: 100vw solid transparent;
}

body .hamburgernav {
  position: relative;
  padding: 0 2rem;
}

body .hamburgernav #links {
  z-index: -4;
  display: none;
  position: absolute;
  margin-top: 0.4rem;
}

body .hamburgernav a {
  float: left;
  color: antiquewhite;
  padding: 1rem;
  text-decoration: none;
  font-size: 1rem;
}

body .hamburgernav a:hover {
  color: gray;
}

body .hamburgernav a.icon {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 2rem;
  margin-right: 1rem;
}

body .hamburgernav #icon-close {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 2rem;
  margin-right: 2rem;
  margin-top: 1rem;
}

header {
  width: 100%;
  padding: 4rem 2rem;
}

header .intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  color: #424b4d;
}

header .intro h1 {
  margin-top: 1rem;
  font-size: 1.7rem;
}

header .intro h3 {
  margin-top: 1rem;
  color: #566264;
  letter-spacing: 0.1rem;
}

header .intro p {
  width: 70%;
  text-align: right;
  font-size: 0.8rem;
  margin-top: 3rem;
  line-height: 1.2rem;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 2rem;
}

main #road-icon {
  font-size: 2.5rem;
  color: #566264;
  margin-top: 6rem;
}

main i {
  font-size: 1.5rem;
  color: #566264;
  margin: 1rem 0;
}

main h2, main h4 {
  margin-top: 2rem;
  color: #566264;
  text-align: left;
}

main ul li {
  list-style: none;
  font-size: 0.8rem;
}

main .main-left {
  margin-left: 25%;
}

main .main-middle {
  margin-left: 50%;
}

main .main-middle-text {
  margin-left: 25%;
}

main .main-right {
  margin-left: 75%;
}

main .main-right-text {
  margin-left: 50%;
}

main .main-right-max {
  margin-left: 95%;
}

main .main-right-max-text {
  margin-left: 70%;
}
/*# sourceMappingURL=style.css.map */