@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&display=swap');

*,
::after,
::before{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	height: 200vh;
	width: 100vw;
	overflow-x: hidden;
	background-color: antiquewhite;
	#triangle-top-right{
		z-index: -5;
		width: 0;
		height: 0;
		position: absolute;
		top: 0;
		border-top: 100vh solid rgb(163, 153, 124);
		border-left: 100vw solid transparent;
	}
	#triangle-bottom-left{
		z-index: -5;
		width: 0;
		height: 0;
		position: absolute;
		top: 100vh;
		border-bottom: 100vh solid rgb(163, 153, 124);
		border-right: 100vw solid transparent;
	}
	.hamburgernav{
		position: relative;
		padding: 0 2rem;
		#links{
			z-index: -4;
			display: none;
			margin-top: 0.3rem;
		}
		a{
			float: left;
			color: antiquewhite;
			padding: 1rem;
			text-decoration: none;
			font-size: 1.3rem;
			font-family: 'Comfortaa';
		}
		a:hover{
			color: gray;
		}
		a.icon{
			display: block;
			position: absolute;
			right: 0;
			top: 0;
			font-size: 2rem;
			margin-right: 2rem;
		}
	}
}
